@import url('https://fonts.googleapis.com/css?family=Oswald');

$spacer: 1rem;
$fast: .3s;
$easing: cubic-bezier(.55, 0, .1, 1);

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(91, 60, 177,1);
  background-repeat: repeat;
  color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2rem;
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
  text-transform: uppercase;
}

.site-wrap {
  transition: transform $fast*3 $easing;
  &.show-all {
    transform: rotateY(-15deg) scale(.2);
  }
}

.panel-wrap {
  height: 100vh;
  width: 100vw; 
}

h1 {
  font-size: 20vmin;
  margin: 0;
}
h2 {
  font-size: 16vmin;
  margin: 0;
}

.panel-wrap {
  perspective: 2000px;
  transition: transform $fast*3 $easing;
  
  &.animate--scale{
    transition: transform $fast $easing;
  }
}

.panel {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: linear-gradient(45deg, rgba(144, 137, 230,.8), rgba(144, 137, 230,.8) 2%, rgba(144, 137, 230,1) 50%, rgba(47, 9, 104,.4) 50%, rgba(47, 9, 104,.3) 60%, rgba(91, 60, 177,1));
  transition: transform $fast $easing;
  will-change: transform;
  
  &:before {
    background-color: transparent;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color $fast $easing;
    z-index: 2;
    
    .show-all {
      pointer-events: all;
    }
  }
  &:hover {
    .show-all {
      &:before {
        background-color: rgba(255,255,255,.1);
        cursor: pointer;
      }
    }
  }
  .animate--scale {
    transform: scale(.8);
  }
  h2 {
    cursor: default;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
  }
  &[data-x-pos="-1"]{
    left: -100%;
    &[data-y-pos="1"]{
      background: rgba(170, 172, 247,1);
      background: linear-gradient(-45deg, rgba(170, 172, 247,1), rgba(170, 172, 247,1) 50%, rgba(71, 23, 141,1) 50%, rgba(91, 60, 177,.7));
    }
  }
  &[data-x-pos="-1"]{
    left: -100%;
    &[data-y-pos="0"]{
      background: rgba(144, 137, 230,1);
    }
  }
  &[data-x-pos="-1"]{
    left: -100%;
    &[data-y-pos="-1"]{
      background: rgba(122, 110, 212,1);
    }
  }
  &[data-y-pos="1"]{
    top: -100%;
    &[data-x-pos="0"]{
      background: rgba(105, 83, 194,1);
    }
  }
  &[data-y-pos="-1"]{
    top: 100%;
    &[data-x-pos="0"]{
      background: rgba(80, 41, 160,1);
    }
  }
  &[data-x-pos="1"]{
    left: 100%;
    &[data-y-pos="1"]{
      background: rgba(71, 23, 141,1);
    }
  }
  &[data-x-pos="1"]{
    left: 100%;
    &[data-y-pos="0"]{
      background: rgba(47, 9, 104,1);
    }
  }
  &[data-x-pos="1"]{
    left: 100%;
    &[data-y-pos="-1"]{
      background: rgba(33, 1, 81,1);
    }
  }
}

.panel__zoom{
  cursor: pointer;
  left: 50%;
  opacity: .6;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  transition: opacity $fast $easing;
  user-select: none;
  z-index: 10;
  
  &:hover{
    opacity: 1;
  }
  .show-all {
    pointer-events: none;
  }
}

.panel__nav{
  cursor: pointer;
  opacity: .6;
  position: absolute;
  transition: opacity $fast $easing;
  user-select: none;
  will-change: opacity;
  
  &--up{
    left: 50%;
    top: $spacer;
    transform: translateX(-50%);
  }
  &--left{
    left: $spacer;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg) translateX(-100%);
    transform-origin: top left;
  }
  &--left-top{
    left: $spacer;
    top: $spacer;
  }
  &--left-down{
    bottom: $spacer;
    left: $spacer;
  }
  &--right{
    right: $spacer;
    top: 50%;
    transform: translateY(-50%) rotate(90deg) translateX(100%);
    transform-origin: top right;
  }
  &--right-top{
    right: $spacer;
    top: $spacer;
  }
  &--right-down{
    bottom: $spacer;
    right: $spacer;
  }
  &--down{
    bottom: $spacer;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover{
    opacity: 1;
  }
}
 
  span{
    cursor: pointer;
    display: inline-block;
    opacity: .6;
    position: relative;
    transition: opacity $fast $easing;
    user-select: none;
    
    &:after{
      width: 100%;
      content: "";
      position: absolute;
      left: -1px;
      right: 0;
      border-bottom: .3vmin solid transparent;
      bottom: 0;
      transition: border-color $fast $easing;
    }    
    &.active,
    &:hover,{
      opacity: 1;
      
      &:after{
        border-color: white;
      }
    }
    &.zoom{
      position: absolute;
      top: 30%;
      left: 50%;
      &:before{
        content: '\2630';
        font-size: 150%;
        color: white;
        position: absolute;
        top: 0;
        left: -50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }