*{
	box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #455050;
}

header{
background-color: #354141;
box-shadow: 4px 6px rgb(184, 5, 5);
}

main{
    color: #ffffff;
}
.navbar{
    background-color: #455050;
}

.logo{
    padding: 0;
}

.col-5 h2, p{
    text-shadow:rgb(184, 5, 5) 2px 2px 3px;
}

.tete{
    display: flex;
    justify-content: space-between;
}

.search{
    display: flex;
    justify-content: flex-end;
}

.title h3{
    box-shadow: 4px 6px rgb(184, 5, 5);
}

.events .articles{
    padding-left: 0.5rem;
    background-color: #354141;
    box-shadow: 4px 6px rgb(184, 5, 5);
}

.instantCompetition .competition{
    background-color: #354141;
    box-shadow: 4px 6px rgb(184, 5, 5);
}

.pagination{
    display: flex;
    justify-content: space-between;
    padding-top: 0.2rem;
    margin-bottom: 0;
}

.page-item .page-link{
    background-color: #354141;
    border-color: #354141;
}

.title{
    text-align: center;
    background-color: #293333;
}

footer{
    background-color: #354141;
    box-shadow: 4px 6px rgb(184, 5, 5);
    position: absolute;
   	display: flex;
   	bottom: 0;
   	width: 100%;
}

.login{
	display: block;
}
