 
@media (min-width: 300px) and (max-width: 767.98px) {

    .logo{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 

}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

 body {
    margin: 0;
    padding: 0;
    background-color: #455050;
}


main {
    color: #ffffff;
}

.navbar {
    background-color: #455050;
}

p, h4, h3 {
    color: #ffffff;
    text-shadow: rgb(184, 5, 5) 2px 2px 3px;
}

.LoginUser h3{
    text-align: center;
}
 header {
    background-color: #354141;
    margin-bottom: 1rem;
    box-shadow: 4px 6px rgb(184, 5, 5);
}

.past, .ongoing, .next{
    background-color: red;
    margin: 0.2rem;

}

 .carro, .LoginUser{
    margin-bottom: 1rem;
}

footer {
    background-color: #354141;
    box-shadow: 4px 6px rgb(184, 5, 5);
} 




