{% extends 'base.html.twig' %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Event date</th>
				<th>Number of players</th>
			</tr>
		</thead>
		<tbody>
			{% for competition in competitions %}
				<tr>
					<td>{{ competition.getName() }}</td>
					<td>{{ competition.getEventDate() }}</td>
					<td>{{ competition.getNumberOfPlayers() }}</td>
		</tbody>
	</table>