<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Template Homepage!</title>
</head>

<body>
    <header class="container-fluid">
        <div class="row p-2 tete">
            <div class="logo col-1 col-sm-1 col-mb-1">
                <img class="img-fluid" alt="LeagueMaker logo" src="images/logo.png">
            </div>
            <div class="col-5">
                <h2>LeagueMaker</h2>
                <p>Create your competition!</p>
            </div>
            <div class="col-6 search">
                <form class="ok form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-12" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        <!--Navbar-->
        <div class="row p-2">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main class="container">
        <div class="title">
            <h3>Events</h3>
        </div>
        <section class="row events">
            <!--Events-->
            <article class="upcoming col-4 col-md-4 col-sm-12 ">
                <h5>Upcoming Events</h5>
                <div class="articles">
                    <p>Here Upcoming events.</p>
                </div>
            </article>
            <article class="ongoing col-4 col-md-4 col-sm-12 ">
                <h5>Ongoing Events</h5>
                <div class="articles">
                    <p>Here events open.</p>
                </div>
            </article>
            <article class="past col-4 col-md-4 col-sm-12 ">
                <h5>Past Events</h5>
                <div class="articles">
                    <p>Here events open.</p>
                </div>
            </article>
        </section>
        <hr>
        <!--instant competition and manage competition-->
        <div class="title">
            <h3>Competitions</h3>
        </div>
        <section class="row instantCompetition">
            <article class="col-4 col-md-4 col-sm-12 instantPlay">
                <h5>Instant Competition</h5>
                <div class="competition">
                    <p>Here Upcoming events.</p>
                </div>
            </article>
            <article class="col-4 col-md-4 col-sm-12 ongoingComp">
                <h5>Ongoing Competitions</h5>
                <div class="competition">
                    <p>Here Upcoming events.</p>
                </div>
            </article>
            <article class="col-4 col-md-4 col-sm-12 pastComp">
                <h5>Past Competitions</h5>
                <div class="competition">
                    <p>Here Upcoming events.</p>
                </div>
            </article>
        </section>
    </main>
    <footer class="container-fluid">
        <div class="row footer">
            <nav class="navbar navbar-expand-lg navbar-dark">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
            </nav>
        </div>
        <hr>
        <div class="row copy">
            &copy; <p>LeagueMaker 2018 - WebForce3</p>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>