fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"
    
#index:
#    path: /
#    controller: App\Controller\DefaultController::index

logout:
   path: /logout
   
app.swagger_ui:
    path: /api/doc
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger_ui }