
	<header class="container">
		<div class="row p-2 tete">
			<div class="logo col-1 col-sm-1">
				<a href="{{ path('homepage') }}">
					<img class="img-fluid" alt="LeagueMaker logo" src="/images/logo.png">
				</a>
			</div>
			<div class="col-sm-5">
				<h4>LeagueMaker</h4>
				<p>Create homemade competitions with ease!</p>
			</div>
		</div>
	</header>
