<header class="container-fluid">
	<div class="row p-2 tete">
		<div class="logo col-1 col-sm-1 col-mb-1">
			<img class="img-fluid" alt="LeagueMaker logo" src="/images/logo.png">
		</div>
		<div class="col-5">
			<h2>LeagueMaker</h2>
			<p>Create your competition!</p>
		</div>
		<div class="col-6 search">
			<form class="ok form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-12" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</header>
