
<article class="home">
	<header class="container-fluid">
		<div class="row p-2 tete">
			<div class="logo col-1 col-sm-1">
				<img class="img-fluid" alt="LeagueMaker logo" src="/images/logo.png">
			</div>
			<div class="col-sm-5">
				<h4>LeagueMaker</h4>
				<p>Create your competition!</p>
			</div>
			<div class="col-sm-6 col-sm-offset-3 search">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control" placeholder="Search">
						<button type="submit" class="btn btn-success">Search</button>
					</div>
				</div>
			</div>
		</div>
	</header>
</article>
