{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} homepage{% endblock %}

{% block body %}
<div class="container">
	<div class="jumbotron">
      	<h1 class="display-4">Instant Competition</h1>
      	<p class="lead">Play Fast</p>
      	<hr class="my-4">
      	<p>Chose your competition</p>
     	<a class="btn btn-primary btn-lg" href="#" role="button">Enter</a>
	</div>
</div>
{% endblock %}

{% block javascripts %}

	
    
{% endblock %}